@use 'sass:color';

// Component: Button
.btn {
  padding: 0.75rem 1.5rem;
  padding-block: 0.75ch;
  padding-inline: 1.75ch; 
  overflow: visible;
  border: none;
  border-radius: var(--border-radius);

  /* background-color: #405cf5; */

  background: linear-gradient(hsl(228deg 94% 67%), hsl(228deg 81% 59%));

  /* box-shadow: 0 2px 2px rgb(64 92 245 / 40%); */
  color: #fff;
  font-size: 100%;
  cursor: pointer;
  appearance: button;

  /* &:hover,
  &:active {
    background-color: color.scale(#405cf5, $lightness: -20%);
  } */

  &:hover,
  &:active {
    background: color.scale(hsl(222deg 100% 69%), $lightness: -20%);
  }

  /* &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px color.scale(#405cf5, $lightness: -40%);
  } */

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px hsl(222deg 100% 69% / 80%);
  }

  &[disabled],
  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  // https://www.kevinpowell.co/article/scaling-buttons-with-css-custom-properties/
  &-sm {
    --scale: 0.8;
  }

  &-lg {
    --scale: 1.2;
  }

  &-fw {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: 700;
  }

  &-error {
    border: 1px solid var(--c-error);
    background: transparent;
    color: var(--c-error);

    &:hover {
      background: var(--c-error);
      color: var(--c-font-sub);
    }
  }
}

.btn[type='reset'], .btn-outline {
  border: 1px solid var(--c-border);
  background: var(--c-bg-prim);
  color: var(--c-font-prim);

  &:hover,
  &:active {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px color.scale(hsl(222deg 100% 69%), $lightness: -40%);
  }

  /* &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px color.scale(hsl(222deg 100% 69%), $lightness: -40%);
  } */

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px hsl(222deg 100% 69% / 70%);
  }
}

.btn-container-right {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1rem;
  column-gap: 0.75rem;
}
