@use 'sass:color';
@use "sass:map";
@use '../variables' as *;

// Component: Panel
.panel {
  display: grid;
  row-gap: 2rem;
  
  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    color: var(--c-font-prim);

    &-sub {
      display:flex;
      align-items:center;
      gap:0.25rem;
      color: var(--c-font-sub);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 1px solid var(--c-border);
    border-radius: var(--border-radius);
    background-color: var(--c-bg-sub);
    color: var(--c-font-sub);
    text-decoration: none;
    will-change: filter;

    &:hover { 
      filter: brightness(var(--brightness));
    }
  
    &:focus {
      outline-color: transparent;
      outline-style: solid;
      box-shadow: 0 0 0 4px color.scale(#405cf5, $lightness: -40%);
    }

    &-add {
      border: none;
      background-color: var(--c-bg);
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      color: var(--c-font-prim) !important;
    }
  }
}
