@use 'sass:map';
@use '../mixins' as *;
@use '../variables' as *;

// Component: Tabs
.tabs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
  border-bottom: map.get($tabs, border-bottom);

  @include mix-breakpoint(md) {
    justify-content: space-evenly;
    gap: 0;

    @include mix-full-width;

    padding-bottom: 0;
  }

  /* @media (width >= 767px) {
     gap: 1rem;
  } */
}

.tab {
  display: flex;
  align-items: center;

  /* flex: 1 1 0px; */
  margin-bottom: -1px;
  padding: map.get($tabs, padding-y) map.get($tabs, padding-x);
  border-bottom: 2px solid transparent;
  color: map.get($tabs, color);
  font-family: map.get($tabs, font-family);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  gap: 0.5rem;
  appearance: none;

  svg {
    display: none;

    @media (width <= 767px) {
      display: block;
    }
  }

  &:focus-visible {
    /* custom focus styles */
    border-radius: var(--border-radius);

    /* remove default focus style */
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  /* span {
    display: none;

    @media (width >= 767px) {
      display: block;
    }
  } */

  /* &:first-of-type {
    padding: map.get($tabs, padding-y) 0.5rem map.get($tabs, padding-y) 0;
    text-align: left
  }

  &:last-of-type {
    padding: map.get($tabs, padding-y) 0.5rem map.get($tabs, padding-y) 0;
  } */

  &:hover {
    color: map.get($tabs, color-hover);
  }

  /* &:focus:not([disabled]) {
    border-radius: var(--border-radius);
    outline-offset: 5px;
    box-shadow: 0 0 0 4px #cbd6ee;
  } */

  &.is-active {
    border-bottom-color: map.get($tabs, border-bottom-tab);
    color: map.get($tabs, color-active);
  }
}
