.two-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &>* {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (width >=768px) {
  .two-columns>* {
    width: calc(50% - 0.5rem);
    margin-bottom: 0;
  }
}
