@use 'sass:color';
@use "sass:map";
@use '../variables' as *;

// Layouts: Header
.header {
  display: grid;
  grid-area: header;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--c-border);
  background-color: var(--c-bg-sub);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 848px;
    height: 100%;
    margin: 0 auto;
    padding: 0.75rem;
    gap: 3rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.navicon {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--c-border);
  border-radius: var(--border-radius);
  background-color: var(--c-bg-prim);
  color: var(--c-font-sub);
  
  &:hover,
  &:active {
    filter: brightness(var(--brightness));
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px color.scale(#405cf5, $lightness: -40%);
  }
}
