// Layouts: Main
.main {
  grid-area: main;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1.5rem;
  }

  &__heading {
    display: flex;
    column-gap: 1rem;;
  }
}
