// Layouts: Savegame
.savegame {
  padding: 1rem 1.5rem;
  border: 1px solid var(--c-border);
  border-radius: var(--border-radius);
  background-color: var(--c-bg-sub);

  &:first-of-type {
    margin-top: 1rem;
  }

  &__active {
    background-color: var(--c-bg-sub);
  }
}
