:root {
  --vp-c-brand: #fd9a4f;
  --vp-c-brand-light: #fd9a4f;
  --vp-c-brand-lighter: #fda868;
  --vp-c-brand-lightest: #feb781;
  --vp-c-brand-dark: #f7735f;
  --vp-c-brand-darker: #f65f48;

  --vp-home-hero-name-color: #fd8b35;

  --hero-glow-color-1: #fc720a;
  --hero-glow-color-2: #fc7d1c;
  --hero-glow-color-3: #fc1ca3;
  --hero-glow-color-4: #f80396;

  --hero-glow-anim-duration: 10s;

  --vp-custom-block-tip-border: #82AAFF;
  --vp-custom-block-tip-text: #82AAFF;
}

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: #1e1e20;
  --vp-button-brand-bg: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-button-brand-text);
  --vp-button-brand-hover-bg: var(--vp-c-brand-lighter);
  --vp-button-brand-active-border: var(--vp-c-brand-darker);
  --vp-button-brand-active-text: var(--vp-button-brand-text);
  --vp-button-brand-active-bg: var(--vp-c-brand-dark);
}
