@use "sass:map";
@use "./config" as *;

// Variables: Body
$body: (
  scroll-behavior: smooth,
  background-color: var(--c-bg-prim),
  color: var(--c-font-sub),
  font-family: var(--f-family),
  font-size: var(--f-size-base),
  font-weight: var(--f-weight),
  line-height: var(--line-height),
) !default;
