@use 'sass:map';
@use './config' as *;
@use '../functions' as *;

// Component: Button
$button: (
  font-size: 0.8rem,
  font-weight: 400,
  color: var(--c-font-prim),
  background-color-submit: var(--c-link-sub),
  background-color-reset: var(--c-link-sub),
  background-color-test: #458a6b,
  padding-y: 0.25rem,
  padding-x: 1rem,
  border-radius: map.get($config, border-radius),
) !default;
