@use "../functions" as *;

// Variables: Themes
$themes: (
  light: (
    c-bg-prim: #fafafa,
    c-bg-sub: #fff,
    c-bg-third: #f9f9f9,

    c-border: #e4e4e7,
    c-border-sub: #232428,

    c-font-prim: #3d3d3d,
    c-font-sub: #545454,

    c-placeholder: #a5a5a5,

    c-link-prim: #2533a2,
    c-link-sub: #858fe9,

    c-success: #53d162,
    c-info: #70a0c9,
    c-warning: #cda450,
    c-error: #c8715a,
    
    c-brand: hsl(222deg 100% 69%),

    brightness: 98%,
  ),
  dark: (
    c-bg-prim: #1f2125,
    c-bg-sub: #282a2e,
    c-bg-third: #292c2d,

    c-border: #454749,
    c-border-sub: #232428,

    c-font-prim: #fcfeff,
    c-font-sub: #bfbfc1,
    c-font-third: #9ea2b3,

    c-placeholder: #999,

    c-link-prim: #858fe9,
    c-link-sub: #2533a2,

    c-success: #53d162,
    c-info: #70a0c9,
    c-warning: #cda450,
    c-error: #c8715a,

    c-brand: hsl(222deg 100% 69%),

    brightness: 90%,
  ),
) !default;
