@use 'sass:map';
@use '../variables' as *;

// Element: Forms
.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;

  &::after {
    content: attr(data-before);
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 15px;
    color: inherit;
    font-size: var(--f-size-xxs);
    font-weight: 600;
    user-select: none;
  }
}

.label {
  color: var(--c-font-prim);
  font-weight: 300;

  &-after {
    margin-bottom: 1rem;
    margin-left: 10px;
  }
}

.form-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }

  &__title {
    color: var(--c-font-prim);
  }

  &__desc {
    color: var(--c-font-sub)
  }
}

%input-element {
  box-sizing: border-box;
  width: 100%;

  /*  padding: 0.5rem; */
  transition: 0.2s;
  border: map.get($forms, border);
  border-radius: map.get($forms, border-radius);
  background: map.get($forms, bg);
  color: map.get($forms, color);
  font-family: inherit;
  font-size: 96%;
  letter-spacing: inherit;
  vertical-align: middle;
  word-spacing: inherit;
  appearance: none;
}

input:not([type='hidden'], [type='checkbox'], [type='radio'], [type='button'], [type='submit'], [type='reset'], [type='color'], [type='file'], [type='image'], [type='range']),
textarea {
  @extend %input-element !optional;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[readonly] {
    opacity: 0.8;
  }

  &::placeholder {
    opacity: 1;
    color: var(--c-placeholder);
    font-size: 90%;
    font-weight: 300;
  }

  &:focus {
    border: map.get($forms, border-focus);
    box-shadow: map.get($forms, box-shadow-focus);

    &::placeholder {
      color: transparent;
    }
  }

  &:required {
    &:focus {
      &:valid {
        border-color: var(--c-success);
      }
    }
  }
}


input:not([type='hidden'], [type='checkbox'], [type='radio'], [type='button'], [type='submit'], [type='reset'], [type='color'], [type='file'], [type='image'], [type='range']):required:focus:invalid {
  border-color: var(--c-error);
}

*:focus {
  outline: none !important;
}

.ifta-field {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;

  /* &:focus {
    appearance:none;
    outline:none;
    box-shadow:inset 0 0 0 2px #007bff;
  } */
}

.group {
  width:100%;

  &:focus-within .label {
    color:#007bff !important;
  }
  
}
