@use "sass:map";
@use "../variables" as *;
@use '../mixins' as *;

// Element: Typography
h1,
h2,
h3,
h4,
h5 {
  /* margin-bottom: map.get($config, spacing); */
  color: var(--c-font-prim);
  font-family: var(--f-family-heading);
  font-weight: 700;
  line-height: 110%;
}

h1 {
  font-size: var(--f-size-5);
}

h2 {
  font-size: var(--f-size-4);
}

h3 {
  font-size: var(--f-size-3);
}

h4 {
  font-size: var(--f-size-2);
}

h5 {
  font-size: var(--f-size-1);
}

p {
  margin-bottom: map.get($config, spacing);
  color: inherit;
  font-size: inherit;
  line-height: map.get($config, line-height);
  overflow-wrap: break-word;
}

small {
  font-size: var(--f-size-xs);
}

.smaller {
  font-size: var(--f-size-xxs);
}

.dimm {
  color: var(--c-font-sub);
}

.c-success {
  color: var(--c-success);
}

.c-info {
  color: var(--c-info);
}

.c-warn {
  color: var(--c-warn);
}

.c-error {
  color: var(--c-error);
}

/* a:not(.panel),
a:visited:not(.panel),
a:active:not(.panel) {
  color: var(--c-link-prim);
  text-decoration: none;
}

a:hover:not(.panel),
a:focus:not(.panel),
a.is-active:not(.panel) {
  color: var(--c-link-sub);
}
 */
